
@{
    ViewData["Title"] = "Update";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Loan Type</h4>
            <form class="form-sample">
                @*<p class="card-description">
                        Personal info
                    </p>*@
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Loan Description </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Processing Fee</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Interest</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Admin Fee</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Period In Months</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-radio">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
                                Activate
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-radio">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
                                Archive
                            </label>
                        </div>
                    </div>


                </div>

            </form>
            <div class="row">
                <div class="col-12 text-right">
                    <a asp-action="Index" class="btn btn-sm btn-secondary m-2">Back to List</a>
                    <a asp-action="Create" class="btn btn-sm btn-success m-2">Save Customer</a>

                </div>
            </div>
        </div>
    </div>
</div>

