@model IEnumerable<SycamoreWebApp.DTOs.MaritalStatusDTO>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Titles</h4>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 text-right">
                        <a asp-action="Create" class="btn btn-sm btn-success m-2">Add Marital Status</a>
                    </div>
                </div>

                <table id="order-listing" class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Marital Status</th>
                            <th>Is Active</th>
                            <th>Is Archived</th>
                            <th>Created By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.MaritalStatusId)</td>
                            <td>@Html.DisplayFor(modelItem => item.MaritalStatusDescription)</td>
                            @if (item.IsActive == true)
                            {
                                <td> <button class="m-2 btn btn-sm btn-success">Active</button></td>
                            }
                            else
                            {
                                <td> <button class="m-2 btn btn-sm btn-primary">Disabled</button></td>
                            }
                            @if (item.IsArchived == true)
                            {
                                <td> <button class="m-2 btn btn-sm btn-danger">Active</button></td>
                            }
                            else
                            {
                                <td> <button class="m-2 btn btn-sm btn-secondary">Disabled</button></td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                            <td>
                                <a asp-action="Update" asp-route-id="@item.MaritalStatusId" class="btn btn-outline-primary m-2">Update</a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>