
@{ ViewData["Title"] = "Create"; }

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Loan Details</h4>
            <form class="form-sample">
                @*<p class="card-description">
                        Personal info
                    </p>*@


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Loan Type</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>Mizu</option>
                                    <option>Tsinde</option>
                                    <option>Masamba</option>
                                    <option>Chitsamba</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Loan Purpose</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Amount Applied for</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Amount Applied for</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Net Pay as Per Current Salary</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Income Amount For Client</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                </div>

            </form>
            <div class="row">
                <div class="col-12 text-right">
                    <a asp-action="Create" class="btn btn-sm btn-success m-2">Save Draft</a>
                    <a asp-action="Create" class="btn btn-sm btn-success m-2">Submit Loan</a>
                    <a asp-action="Create" class="btn btn-sm btn-primary m-2">Calculate Loan</a>
                </div>
            </div>
        </div>
    </div>
</div>

